@using EasyTrip.Models.Entities
@model List<Blog>

<div class="padding1">
    <h4>Our Best Places</h4>

    <div class="box-left" style="margin-right:27.3px">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.ImageUrl" alt="" />
            </div>
            <div class="bot-desc">
                <p>@item.Description.Substring(0, 75)...</p>
            </div>
            <div class="clear"></div>
        }
    </div>
    @Html.Action("OurLastBestPlacesPartial", "Default")
</div>
